.card {
    width: 364px;
    height: 281px;
    border-radius: 6px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.card__image {
    width: 364px;
    height: 203px;
    object-fit: cover;
}

.card__description {
    width: 332px;
    display: flex;
    justify-content: space-between;
    margin: 16px auto 0;
}

.card__title {
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    max-width: 290px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__heart {
    width: 14px;
    height: 12px;
    background-image: url(../../images/heart.svg);
    background-color: #FFFFFF;
    background-size: cover;
    transition: opacity .5s ease-in;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    margin: auto 8px;
    display: none;
}

.card__heart_filled {
    background-image: url(../../images/heart-filled.svg);
}

.card__film-length {
    margin: 17px 0 0 16px;
    padding: 0;
    font-size: 11px;
    font-weight: 400;
    color: #A0A0A0;
}

.card__delete {
    height: 12px;
    background-image: url(../../images/delete.svg);
    background-color: #FFFFFF;
    background-size: cover;
    transition: opacity .5s ease-in;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    margin: auto 8px;
    display: none;
}

.card__icon_display {
    display: flex;
}

@media screen and (max-width: 1279px) {
    .card {
        width: 339px;
        height: 262px;
    }

    .card__image {
        width: 339px;
        height: 190px;
    }

    .card__description {
        width: 303px;
        margin: 14px auto 0;
    }

    .card__title {
        max-width: 260px;
    }
}

@media screen and (max-width: 767px) {
    .card {
        width: 300px;
        height: 237px;
    }

    .card__image {
        width: 300px;
        height: 168px;
    }

    .card__description {
        width: 272px;
        margin: 14px auto 0;
    }

    .card__title {
        max-width: 240px;
        font-size: 12px;
    }

    .card__film-length {
        margin: 14px 0 0 14px;
        font-size: 10px;
    }
}
